<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (products.length > 0 ) { %>
        <ul>
            <% products.forEach(p =>  { %>
                <li>
                    <p>
                        <img class="img_cart" src="<%= p.imageUrl %>" alt=""> <%= p.title %> (<%= p.cartItem.quantity %>)
                    </p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="id" value="<%= p.id %>">
                        <button type="submit" class="btn">Borrar</button>
                    </form>
                </li>
            <% })%>
        </ul>
    <% } else { %>
        <h1>No hay productos en el carro</h1>
    <% } %>    
</main>
<%- include('../includes/end.ejs') %>